{{>layouts/header}} <!--회원가입 페이지-->
<form class="mb-3" action="/articles/create" method="post">
    <div>
        <label class="form-label" for="flabel1">제목</label>
        <input type="text" id="flabel" class="form-control" name="title">
    </div>
    <div class="mb-3">
        <label class="form-label" for="flabel2">내용</label>
        <textarea class="form-control" rows="3" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/articles">Back</a>
</form>
{{>layouts/footer}}